<%- include("partials/header.ejs") %>

<!-- TODO: Move signature -->

<body class="container-fluid email">
  <header class="container header">
    New <%= post.type %> on ZAVID.
  </header>
  <div class="container email-content">
    <table>
      <tr>
        <td class="heading">
          <h1 class="post-title"><%= post.title %></h1>
          <div><%= post.datePublished %></div>
        </td>
        <td class="signature-cell">
          <img
            src="<%= cloudinaryBaseUrl %>/static/logos/signature-light.png"
            class="signature"
            alt="Signature"
          />
        </td>
      </tr>
    </table>

    <img
      src="<%= post.image %>"
      alt="<%= post.title %>"
      class="content-image"
    />

    <p class="post-content"><%= post.content %></p>

    <div class="button">
      <a href="<%= post.slug %>">
        Read Full Post
      </a>
    </div>
  </div>
  <%- include("partials/footer.ejs", { url: post.slug, token: subscriber.token
  }) %>
</body>
