<%- include("partials/header.ejs") %>

<body class="container-fluid email">
  <header class="container header">
    New diary entry on ZAVID.
    <a href="<%= diaryEntry.slug %>" class="hyperlink">
      View on site
    </a>
  </header>
  <div class="container email-content">
    <h1 class="post-title"><%= diaryEntry.title %></h1>
    <div class="diary-date"><%= diaryEntry.date %></div>

    <div class="diary-content"><%- diaryEntry.content %></div>

    <img
      src="<%= cloudinaryBaseUrl %>/static/logos/signature-light.png"
      class="signature"
      alt="Signature"
    />

    <div class="diary-content"><%- diaryEntry.footnote %></div>
  </div>
  <%- include("partials/footer.ejs", { url: diaryEntry.slug, token:
  subscriber.token }) %>
</body>
