<%- include("partials/header.ejs") %>

<body class="container-fluid email">
  <header class="container header">
    Confirming your claim to a wishlist item on ZAVID.
  </header>
  <div class="container email-content">
    <p class="post-content">Hey friend,</p>
    <img
      src="<%= wishlistItem.image %>"
      alt="<%= wishlistItem.name %>"
      class="content-image"
      style="float: right; margin-left: 1.5em; max-width: 220px" />
    <p class="post-content">
      You claimed the <strong><%= wishlistItem.name %></strong> on my wishlist.
      Click the button below to take you to the link.
    </p>

    <a href="<%= wishlistItem.href %>">
      <button type="button" class="button" style="margin: 0">Visit Link</button>
    </a>

    <p class="post-content">
      I appreciate you immensely for wanting to get me a gift off my wishlist.
      It really means a lot.
    </p>
    <p class="post-content">
      In case you need to send the gift, below is my postal address:
    </p>

    <address>40 Impala Drive<br />Cambridge<br />CB1 9XL</address>

    <p class="post-content">Bless you, friend. Much love.</p>
    <p class="post-content">Signed.</p>
    <img
      src="<%= cloudinaryBaseUrl %>/static/logos/signature-light.png"
      class="signature"
      alt="Signature" />
  </div>

  <div class="container footer">
    <!-- The footer's website links. -->
    <table class="footer-website-container">
      <tr>
        <td>
          <a href="<%= domain %>/wishlist" class="footer-website-links"
            >Wishlist</a
          >
        </td>
      </tr>
      <tr>
        <td>
          <a href="<%= domain %>/about" class="footer-website-links">About</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="<%= domain %>/privacy" class="footer-website-links">
            Privacy Policy
          </a>
        </td>
      </tr>
    </table>

    <!-- The footer's social buttons. -->
    <table class="footer-social-container">
      <tr>
        <td>
          <a href="<%= accounts.twitter %>" class="footer-social-links">
            <img
              src="<%= cloudinaryBaseUrl %>/static/logos/socials/twitter-icon.png"
              alt="TW" />
          </a>
        </td>
        <td>
          <a href="<%= accounts.instagram %>" class="footer-social-links">
            <img
              src="<%= cloudinaryBaseUrl %>/static/logos/socials/instagram-icon.png"
              alt="IG" />
          </a>
        </td>
        <td>
          <a href="<%= accounts.linkedin %>" class="footer-social-links">
            <img
              src="<%= cloudinaryBaseUrl %>/static/logos/socials/linkedin-icon.png"
              alt="LI" />
          </a>
        </td>
        <td>
          <a href="<%= accounts.snapchat %>" class="footer-social-links">
            <img
              src="<%= cloudinaryBaseUrl %>/static/logos/socials/snapchat-logo.png"
              alt="SC" />
          </a>
        </td>
      </tr>
    </table>

    <a href="<%= domain %>">
      <img
        src="<%= cloudinaryBaseUrl %>/static/logos/zavid-head-logo.png"
        class="zavid-logo"
        alt="ZAVID" />
    </a>

    <!-- The copyright notice. -->
    <div class="copyright"><%= copyright %></div>
  </div>
</body>
