<div class="container footer">
  <div class="footer-subscription-notice">
    <p>
      You are receiving this email because you subscribed to my mailing list. If
      you want to change your subscription preferences or unsubscribe,
      <a href="<%= domain %>/unsubscribe" class="hyperlink">click here</a>.
    </p>
    <p>
      Got an issue with the link? Copy and paste this URL into your browser:
      <a href="<%= url %>" class="hyperlink"><%= url %></a>
    </p>
  </div>

  <!-- The footer's website links. -->
  <table class="footer-website-container">
    <tr>
      <td>
        <a href="<%= domain %>/about" class="footer-website-links">
          About
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= domain %>/privacy" class="footer-website-links">
          Privacy Policy
        </a>
      </td>
    </tr>
  </table>

  <!-- The footer's social buttons. -->
  <table class="footer-social-container">
    <tr>
      <td>
        <a href="<%= accounts.twitter %>" class="footer-social-links">
          <img
            src="<%= cloudinaryBaseUrl %>/static/logos/socials/twitter-icon.png"
            alt="TW"
          />
        </a>
      </td>
      <td>
        <a href="<%= accounts.instagram %>" class="footer-social-links">
          <img
            src="<%= cloudinaryBaseUrl %>/static/logos/socials/instagram-icon.png"
            alt="IG"
          />
        </a>
      </td>
      <td>
        <a href="<%= accounts.linkedin %>" class="footer-social-links">
          <img
            src="<%= cloudinaryBaseUrl %>/static/logos/socials/linkedin-icon.png"
            alt="LI"
          />
        </a>
      </td>
      <td>
        <a href="<%= accounts.snapchat %>" class="footer-social-links">
          <img
            src="<%= cloudinaryBaseUrl %>/static/logos/socials/snapchat-logo.png"
            alt="SC"
          />
        </a>
      </td>
    </tr>
  </table>

  <a href="<%= domain %>">
    <img
      src="<%= cloudinaryBaseUrl %>/static/logos/zavid-head-logo.png"
      class="zavid-logo"
      alt="#WOKEWeekly"
    />
  </a>

  <!-- The copyright notice. -->
  <div class="copyright">
    <%= copyright %>
  </div>
</div>
